<section class="section slider-section" id="section_591893257">
  <div class="bg section-bg fill bg-fill  bg-loaded"></div>
  <div class="section-content relative">
    <div class="row row-small" id="row-773342096">
      <div class="col cot1 hide-for-medium medium-3 small-12 large-3">
        <div class="col-inner"></div>
      </div>
      <div class="col cot2 hide-for-medium medium-6 small-12 large-6">
        <div class="col-inner">
          <div class="slider-wrapper relative " id="slider-224660901">
            <div class="carousel" data-flickity='{ "fullscreen": true, "lazyLoad": 1, "autoPlay": true }'>
              <div class="carousel-cell">
                <img class="carousel-cell-image"
                  data-flickity-lazyload="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2.jpg" />
              </div>
              <div class="carousel-cell">
                <img class="carousel-cell-image"
                  data-flickity-lazyload="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1.jpg" />
              </div>
            </div>



            <%
=begin%>
 <div class="slider slider-nav-dots-simple slider-nav-simple
              slider-nav-normal slider-nav-light slider-style-normal
              flickity-enabled is-draggable slider-lazy-load-active">
              <div class="flickity-viewport" style="height: 304.031px; touch-action: pan-y;">
                <div class="flickity-slider" style="left: 0px; transform: translateX(-100%);" data-flickity='{"autoPlay": 1500}'>
                  <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1367440557" aria-selected="false" style="position: absolute; left: 0%;">
								    <div class="img-inner dark">
			                <img width="593" height="321" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2.jpg"
                        class="attachment-original size-original" alt=""
                        srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2.jpg 593w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2-300x162.jpg 300w" sizes="(max-width: 593px) 100vw, 593px">
					          </div>
	                </div>
                  <div class="img has-hover x md-x lg-x y md-y lg-y is-selected" id="image_98978747" aria-selected="true" style="position: absolute; left: 100%;">
								    <div class="img-inner dark">
			                <img width="593" height="321" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1.jpg"
                        class="attachment-original size-original" alt=""
                        srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1.jpg 593w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1-300x162.jpg 300w" sizes="(max-width: 593px) 100vw, 593px">
					          </div>
	                </div>
                </div>
              </div>
              <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
                </svg>
              </button>
              <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
                </svg>
              </button>
              <ol class="flickity-page-dots">
                <li class="dot" aria-label="Page dot 1"></li>
                <li class="dot is-selected" aria-label="Page dot 2" aria-current="step"></li>
              </ol>
            </div>
<%
=end%>
            <div class="loading-spin dark large centered" style="display: none;"></div>
          </div>
          <div class="row row-small banner-row" id="row-1542641530">
            <div class="col hide-for-small medium-6 small-12 large-6">
              <div class="col-inner" style="padding:0px 0px 0 0px;margin:0px 0px 0 0px;">
                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1816739937">
                  <a class="" href="#" target="_self">
                    <div class="img-inner image-zoom dark">
                      <img width="286" height="145" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner1.jpg" class="attachment-original size-original" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col hide-for-small medium-6 small-12 large-6">
              <div class="col-inner" style="padding:0px 0px 0 0px;margin:0px 0px 0 0px;">
                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1681165823">
                  <a class="" href="#" target="_self">
                    <div class="img-inner image-zoom dark">
                      <img width="286" height="145" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner2.jpg" class="attachment-original size-original" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col cot2 show-for-medium hide-for-small medium-9 small-12 large-9">
        <div class="col-inner">
          <div class="slider-wrapper relative " id="slider-1087960252">
            <div class="slider slider-nav-dots-simple slider-nav-simple slider-nav-normal slider-nav-light slider-style-normal flickity-enabled is-draggable slider-lazy-load-active">
              <div class="flickity-viewport" style="height: 0px; touch-action: pan-y;">
                <div class="flickity-slider" style="left: 0px;">
                  <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_819548612" aria-selected="false" style="position: absolute;">
                    <div class="img-inner dark">
                      <img width="593" height="321" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1.jpg"
                        class="attachment-original size-original" alt=""
                        srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1.jpg 593w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1-300x162.jpg 300w" sizes="(max-width: 593px) 100vw, 593px">
                    </div>
                  </div>
                  <div class="img has-hover x md-x lg-x y md-y lg-y is-selected" id="image_763122635" aria-selected="true" style="position: absolute;">
                    <div class="img-inner dark">
                      <img width="593" height="321" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2.jpg"
                        class="attachment-original size-original" alt="" srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2.jpg 593w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2-300x162.jpg 300w" sizes="(max-width: 593px) 100vw, 593px">
                    </div>
                  </div>
                </div>
              </div>
              <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
                </svg></button><button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
                </svg>
              </button>
              <ol class="flickity-page-dots">
                <li class="dot" aria-label="Page dot 1"></li>
                <li class="dot is-selected" aria-label="Page dot 2" aria-current="step"></li>
              </ol>
            </div>
            <div class="loading-spin dark large centered" style="display: none;"></div>
          </div>
          <div class="row row-small banner-row" id="row-1440336348">
            <div class="col hide-for-small medium-6 small-12 large-6">
              <div class="col-inner" style="padding:0px 0px 0 0px;margin:0px 0px 0 0px;">
                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1430969609">
                  <a class="" href="#" target="_self">
                    <div class="img-inner image-zoom dark">
                      <img width="286" height="145" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner2.jpg" class="attachment-original size-original" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col hide-for-small medium-6 small-12 large-6">
              <div class="col-inner" style="padding:0px 0px 0 0px;margin:0px 0px 0 0px;">
                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1966184898">
                  <a class="" href="#" target="_self">
                    <div class="img-inner image-zoom dark">
                      <img width="286" height="145" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner1.jpg" class="attachment-original size-original" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col cot3 hide-for-small medium-3 small-12 large-3">
        <div class="col-inner">
          <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1151249053">
            <a class="" href="#" target="_self">
              <div class="img-inner image-zoom dark">
                <img width="287" height="485" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner3.jpg" class="attachment-original size-original"
                  alt="" srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner3.jpg 287w,
                  http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner3-178x300.jpg 178w" sizes="(max-width: 287px) 100vw, 287px">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-small" id="row-2092674235">
      <div class="col cot2 show-for-small medium-9 small-12 large-9">
        <div class="col-inner">
          <div class="slider-wrapper relative " id="slider-1787840674">
            <div class="slider slider-nav-dots-simple slider-nav-simple slider-nav-normal slider-nav-light slider-style-normal flickity-enabled is-draggable slider-lazy-load-active">
              <div class="flickity-viewport" style="height: 0px; touch-action: pan-y;">
                <div class="flickity-slider" style="left: 0px;">
                  <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_627965816" aria-selected="false" style="position: absolute;">
                    <div class="img-inner dark">
                      <img width="593" height="321" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1.jpg"
                        class="attachment-original size-original" alt="" srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1.jpg 593w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/Slider1-300x162.jpg 300w" sizes="(max-width: 593px) 100vw, 593px">
                    </div>
                  </div>
                  <div class="img has-hover x md-x lg-x y md-y lg-y is-selected" id="image_1081074295" aria-selected="true" style="position: absolute;">
                    <div class="img-inner dark">
                      <img width="593" height="321" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2.jpg"
                        class="attachment-original size-original" alt="" srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2.jpg 593w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/slider2-300x162.jpg 300w" sizes="(max-width: 593px) 100vw, 593px">
                    </div>
                  </div>
                </div>
              </div>
              <button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous">
                <svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg>
              </button>
              <button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
                <svg class="flickity-button-icon" viewBox="0 0 100 100">
                  <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
                </svg>
              </button>
              <ol class="flickity-page-dots">
                <li class="dot" aria-label="Page dot 1"></li>
                <li class="dot is-selected" aria-label="Page dot 2" aria-current="step"></li>
              </ol>
            </div>
            <div class="loading-spin dark large centered" style="display: none;"></div>
          </div>
          <div class="row row-small banner-row" id="row-1147138549">
            <div class="col show-for-small medium-6 small-12 large-6">
              <div class="col-inner" style="padding:0px 0px 5px 0px;margin:0px 0px 0 0px;">
                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1126905156">
                  <a class="" href="#" target="_self">
                    <div class="img-inner image-zoom dark">
                      <img width="286" height="145" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner2.jpg" class="attachment-original size-original" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col show-for-small medium-6 small-12 large-6">
              <div class="col-inner" style="padding:5px 0px 0px 0px;margin:0px 0px 0 0px;">
                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1386341131">
                  <a class="" href="#" target="_self">
                    <div class="img-inner image-zoom dark">
                      <img width="286" height="145" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/12/banner1.jpg" class="attachment-original size-original" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style scope="scope">
  #section_591893257 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(239, 240, 243);
  }
</style>
