<header id="header" class="header">
  <div class="header-wrapper">
    <%= render "layouts/headers/top_bar" %>
    <%= render "layouts/headers/mast_head" %>
    <%= render "layouts/headers/menu" %>
  </div>
</header>
