<div id="masthead" class="header-main hide-for-sticky nav-dark">
  <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
    <div id="logo" class="flex-col logo">
      <a href="http://hoayeuthuong.langsonweb.com/"
        title="Mẫu website hoa yêu thương đẹp chuẩn seo - Dịch vụ thiết kế website uy tín" rel="home">
        <img width="260" height="92" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/logo-1.png"
          class="header-logo-dark" alt="Mẫu website hoa yêu thương đẹp chuẩn seo">
      </a>
    </div>
    <div class="flex-col show-for-medium flex-left">
      <ul class="mobile-nav nav nav-left ">
        <li class="nav-icon has-icon">
  		    <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay"
            data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">
		        <i class="icon-menu"></i>
		  		</a>
        </li>
      </ul>
    </div>
    <div class="flex-col hide-for-medium flex-left flex-grow">
      <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
        <li class="header-block">
          <div class="header-block-block-1">
            <div class="row row-small" id="row-738102125">
              <div class="col medium-8 small-12 large-8">
                <div class="col-inner">
                  <div class="gap-element" style="display:block; height:auto; padding-top:22px"></div>
                  <div class="searchform-wrapper ux-search-box relative form- is-normal">
                    <form role="search" method="get" class="searchform" action="http://hoayeuthuong.langsonweb.com/">
		                  <div class="flex-row relative">
									      <div class="flex-col flex-grow">
			                    <input type="search" class="search-field mb-0" name="s" value=""
                            placeholder="Tìm kiếm sản phẩm..." autocomplete="off">
		                      <input type="hidden" name="post_type" value="product">
        		          	</div>
			                  <div class="flex-col">
				                  <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
					                  <i class="fa fa-search icon-search"></i>
                          </button>
			                  </div>
                      </div>
	                    <div class="live-search-results text-left z-top">
                        <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col medium-2 small-12 large-2">
                <div class="col-inner">
                  <div class="gap-element" style="display:block; height:auto; padding-top:17px"></div>
                  <div class="icon-box featured-box icon-box-left text-left">
                    <div class="icon-box-img" style="width: 20px">
                      <div class="icon">
                        <div class="icon-inner">
                          <img width="150" height="150" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/phone.png"
                            class="attachment-medium size-medium" alt="" srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/phone.png 150w,
                            http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/phone-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px">
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <p>
                        <strong><span style="color: #fffcfc; font-size: 80%;">Gọi đặt hàng</span></strong><br>
                        <strong><span style="font-size: 100%; color: #fffcfc;">0986.989.626</span></strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col medium-2 small-12 large-2">
                <div class="col-inner">
                  <div class="gap-element" style="display:block; height:auto; padding-top:17px"></div>
                  <div class="icon-box featured-box icon-box-left text-left">
                    <div class="icon-box-img" style="width: 20px">
                      <div class="icon">
                        <div class="icon-inner">
                          <img width="150" height="150" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/phone.png"
                            class="attachment-medium size-medium" alt="" srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/phone.png 150w,
                            http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/phone-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px">
                        </div>
                      </div>
                    </div>
                    <div class="icon-box-text last-reset">
                      <p>
                        <strong><span style="color: #fffcfc; font-size: 80%;">Gọi tư vấn</span></strong><br>
                        <strong><span style="font-size: 100%; color: #fffcfc;">0986.989.626</span></strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
