<div id="wide-nav" class="header-bottom wide-nav hide-for-sticky nav-dark flex-has-center hide-for-medium">
  <div class="flex-row container">
    <div class="flex-col hide-for-medium flex-left">
      <ul class="nav header-nav header-bottom-nav nav-left  nav-size-medium nav-spacing-xlarge">
        <div id="mega-menu-wrap" class="ot-vm-click">
          <div id="mega-menu-title">
            <i class="fa fa-bars icon-menu"></i> DANH MỤC SẢN PHẨM
          </div>
          <ul id="mega_menu" class="menu">
            <li id="menu-item-24" class="khuyen-mai-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-24">
              <a title="khuyen-mai-goc" href="/danh-muc/khuyen-mai-goc/">
                <i class="_mi _before fa fa-fire" aria-hidden="true" style="font-size:1.3em;"></i>
                <span>Khuyến mãi gốc</span>
              </a>
            </li>
            <li id="menu-item-1044" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1044">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-cam-on/">Hoa cảm ơn</a>
            </li>
            <li id="menu-item-1045" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1045 has-child" aria-expanded="false">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-sinh-nhat/">Hoa sinh nhật</a>
              <button class="toggle"><i class="icon-angle-down"></i></button>
              <ul class="sub-menu" style="margin-top: -74px;">
                <li id="menu-item-1046" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1046">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-sinh-nhat/hoa-tang-dong-nghiep/">Hoa tặng đồng nghiệp</a>
                </li>
                <li id="menu-item-1047" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1047">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-sinh-nhat/hoa-tang-sep/">Hoa tặng sếp</a>
                </li>
                <li id="menu-item-1048" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1048">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-sinh-nhat/hoa-tang-vo/">Hoa tặng vợ</a>
                </li>
                <li id="menu-item-1049" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1049">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-sinh-nhat/tang-nguoi-yeu/">Tặng người yêu</a>
                </li>
                <li id="menu-item-1050" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1050">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-sinh-nhat/tang-sinh-nhat-ban/">Tặng sinh nhật bạn</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-1051" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-1051 has-child" aria-expanded="false">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/">Hoa sự kiện</a>
              <button class="toggle"><i class="icon-angle-down"></i></button>
              <ul class="sub-menu" style="margin-top: -111px;">
                <li id="menu-item-1052" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1052">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-cai-ao/">Hoa cài áo</a>
                </li>
                <li id="menu-item-1053" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1053">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-co-dau/">Hoa cô dâu</a>
                </li>
                <li id="menu-item-1054" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1054">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-khai-truong/">Hoa khai trương</a>
                </li>
                <li id="menu-item-1055" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1055">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-ngay-nha-giao/">Hoa ngày nhà giáo</a>
                </li>
                <li id="menu-item-1056" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1056">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-ngay-phu-nu/">Hoa ngày phụ nữ</a>
                </li>
                <li id="menu-item-1057" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1057">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-tang-tot-nghiep/">Hoa tặng tốt nghiệp</a>
                </li>
                <li id="menu-item-1058" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1058">
                  <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-tinh-yeu/">Hoa tình yêu</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-1059" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1059">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-tuoi/">Hoa tươi</a>
            </li>
            <li id="menu-item-1060" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1060">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/qua-tang/">Quà tặng</a>
            </li>
            <li id="menu-item-1061" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1061">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/the-loai-hoa/">Thể loại hoa</a>
            </li>
            <li id="menu-item-1062" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1062">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-cai-ao/">Hoa cài áo</a>
            </li>
            <li id="menu-item-1063" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1063">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-co-dau/">Hoa cô dâu</a>
            </li>
            <li id="menu-item-1064" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1064">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-khai-truong/">Hoa khai trương</a>
            </li>
            <li id="menu-item-1065" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-1065">
              <a href="http://hoayeuthuong.langsonweb.com/danh-muc/hoa-su-kien/hoa-ngay-nha-giao/">Hoa ngày nhà giáo</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    <div class="flex-col hide-for-medium flex-center">
      <ul class="nav header-nav header-bottom-nav nav-center  nav-size-medium nav-spacing-xlarge">
        <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home
          current-menu-item page_item page-item-2 current_page_item active  menu-item-105">
          <a href="http://hoayeuthuong.langsonweb.com/" class="nav-top-link">Trang chủ</a>
        </li>
        <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-101">
          <a href="http://hoayeuthuong.langsonweb.com/gioi-thieu/" class="nav-top-link">Giới thiệu</a>
        </li>
        <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-106">
          <a href="http://hoayeuthuong.langsonweb.com/cua-hang/" class="nav-top-link">Sản phẩm</a>
        </li>
        <li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-100">
          <a href="http://hoayeuthuong.langsonweb.com/chinh-sach-dai-ly/" class="nav-top-link">Chính sách đại lý</a>
        </li>
        <li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-104">
          <a href="http://hoayeuthuong.langsonweb.com/tuyen-dung/" class="nav-top-link">Tuyển dụng</a>
        </li>
        <li id="menu-item-946" class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-946">
          <a href="http://hoayeuthuong.langsonweb.com/category/tin-tuc/" class="nav-top-link">Tin tức</a>
        </li>
        <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-103">
          <a href="http://hoayeuthuong.langsonweb.com/lien-he/" class="nav-top-link">Liên hệ</a>
        </li>
      </ul>
    </div>
    <div class="flex-col hide-for-medium flex-right flex-grow">
      <ul class="nav header-nav header-bottom-nav nav-right  nav-size-medium nav-spacing-xlarge">
        <li class="cart-item has-icon has-dropdown">
          <a href="http://hoayeuthuong.langsonweb.com/gio-hang/" title="Giỏ hàng" class="header-cart-link is-small">
            <span class="header-cart-title">Giỏ hàng</span>
            <i class="fa fa-shopping-cart icon-shopping-basket" data-icon-label="2"></i>
          </a>
          <ul class="nav-dropdown nav-dropdown-default">
            <li class="html widget_shopping_cart">
              <div class="widget_shopping_cart_content">
  	            <ul class="woocommerce-mini-cart cart_list product_list_widget ">
	  						  <li class="woocommerce-mini-cart-item mini_cart_item">
		  				      <a href="http://hoayeuthuong.langsonweb.com/gio-hang/?remove_item=4734ba6f3de83d861c3176a6273cac6d&amp;_wpnonce=1ee5f273e2"
                      class="remove remove_from_cart_button" aria-label="Xóa sản phẩm này" data-product_id="273"
                      data-cart_item_key="4734ba6f3de83d861c3176a6273cac6d" data-product_sku="">×
                    </a>
                    <a href="http://hoayeuthuong.langsonweb.com/san-pham/hoa-bo-cam-tu-cau-cam-chuong-dep-tang-vo/">
							  	    <img width="300" height="300" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa2-300x300.png"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt=""
                        srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa2-300x300.png 300w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa2-150x150.png 150w,
                        http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa2-100x100.png 100w"
                        sizes="(max-width: 300px) 100vw, 300px">Hoa bó cẩm tú cầu + cẩm chướng đẹp tặng vợ&nbsp;
                    </a>
						        <span class="quantity">1 × <span class="woocommerce-Price-amount amount">399.000<span class="woocommerce-Price-currencySymbol">₫</span></span></span>
                  </li>
                  <li class="woocommerce-mini-cart-item mini_cart_item">
						        <a href="http://hoayeuthuong.langsonweb.com/gio-hang/?remove_item=39059724f73a9969845dfe4146c5660e&amp;_wpnonce=1ee5f273e2"
                      class="remove remove_from_cart_button" aria-label="Xóa sản phẩm này"
                      data-product_id="270" data-cart_item_key="39059724f73a9969845dfe4146c5660e" data-product_sku="">×
                    </a>
                    <a href="http://hoayeuthuong.langsonweb.com/san-pham/hoa-bo-ky-niem-ngay-cuoi-cuc-teen-cho-vo-chong-tre/">
								      <img width="300" height="300" src="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa3-300x300.png"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt=""
                        srcset="http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa3-300x300.png 300w,
                          http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa3-150x150.png 150w,
                          http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa3-100x100.png 100w,
                          http://hoayeuthuong.langsonweb.com/wp-content/uploads/2018/07/hoa3.png 401w"
                          sizes="(max-width: 300px) 100vw, 300px">Hoa bó kỷ niệm ngày cưới cực teen cho vợ chồng trẻ&nbsp;
                    </a>
						        <span class="quantity">1 × <span class="woocommerce-Price-amount amount">500.000<span class="woocommerce-Price-currencySymbol">₫</span></span></span>
                  </li>
  						  </ul>
	              <p class="woocommerce-mini-cart__total total">
                  <strong>Tổng cộng:</strong>
                  <span class="woocommerce-Price-amount amount">899.000<span class="woocommerce-Price-currencySymbol">₫</span></span>
                </p>
  	            <p class="woocommerce-mini-cart__buttons buttons">
                  <a href="http://hoayeuthuong.langsonweb.com/gio-hang/" class="button wc-forward">Xem giỏ hàng</a>
                  <a href="http://hoayeuthuong.langsonweb.com/thanh-toan/" class="button checkout wc-forward">Thanh toán</a>
                </p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
