<div id="top-bar" class="header-top hide-for-sticky nav-dark">
  <div class="flex-row container">
    <div class="flex-col hide-for-medium flex-left">
      <ul class="nav nav-left medium-nav-center nav-small  nav-">
        <li class="html custom html_topbar_left">
          Chào mừng bạn đến với mẫu website bán hàng của Topweb
        </li>
      </ul>
    </div>

    <div class="flex-col hide-for-medium flex-center">
      <ul class="nav nav-center nav-small  nav-">
      </ul>
    </div>

    <div class="flex-col hide-for-medium flex-right">
      <ul class="nav top-bar-nav nav-right nav-small  nav-">
        <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-198">
          <a href="http://hoayeuthuong.langsonweb.com/tai-khoan/" class="nav-top-link">
            <i class="_mi _before fa fa-user" aria-hidden="true"></i>
            <span>Tài khoản</span>
          </a>
        </li>
        <li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-199">
          <a href="http://hoayeuthuong.langsonweb.com/cua-hang/" class="nav-top-link">
            <i class="_mi _before fa fa-refresh" aria-hidden="true"></i>
            <span>Sản phẩm</span>
          </a>
        </li>
        <li id="menu-item-201" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-201">
          <a href="#" class="nav-top-link">
            <i class="_mi _before fa fa-map-marker" aria-hidden="true"></i>
            <span>Hệ thống cửa hàng</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
